# chk file
*.chk

# dat file
*.dat

# out file
*.out

# json file
*.json

# log file
*.log

# txt file
*.txt

# pickle file
*.pkl


# npy file
*.npy


# png file
*.png


# csv file
*.csv


# ipynb checkpoints
*.pyc